<h2>Definition</h2>
<div class="tags overload overload_item">
  <span class="overload">
    <span class="overload_item">
      <span class="signature first" style="margin-left: 0px;"><%= "<strong>#{html_syntax_highlight object.type_def}</strong>" %></span>
    </span>
  </span>
</div>

